@model Centre_de_formation.Models.Session

@{
    ViewData["Title"] = "Delete";
}

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card mt-5 border border-success-subtle">
                <div class="card-header bg-danger text-white">

                    <h3 class="mb-0">Etes vous sur de vouloir supprimer cette session ?</h3>



                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            ID
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4">
                            Formation
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Formation.NomFormation)
                        </dd>
                        <dt class="col-sm-4">
                            Date Debut
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.dateDebut)
                        </dd>
                        <dt class="col-sm-4">
                            Formateur
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Formateur.Nom)
                        </dd>
                        <dt class="col-sm-4">
                            Durée
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.duree)
                        </dd>
                        <dt class="col-sm-4">
                            Salle
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Salle.NumSalle)
                        </dd>
                    </dl>
                    <div class="d-flex justify-content-start gap-3 align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-outline-success" asp-action="Index">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                        </div>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Oui" class="btn btn-outline-danger" />

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

